<div class="container">
	<div class="hello" data-bottom-top="transform: translateZ(0) translateY(20%); opacity: 0;" data-top-bottom="transform: translateZ(0) translateY(-20%);" data--100-bottom="opacity:1;" class="js-appearing-content">
		<h1 class="hero-header">Launch Your MVP this Weekend</h1>
		<p class="hero-paragraph">A collection of tutorials to help you:<br>start a blog, launch your startup, sell <span class="tilt">$@%#</span> online, and more.<br>
			<b class="hero-paragraph__highlight_box js-appearing-content skrollable skrollable-between"><span class="hero-paragraph__highlight_text">No coding required.</span></b></p>
	</div>
	<div class="click">
		<a href="#">Start Hacking</a>
	</div>
</div>