    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Google Fonts embed code --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Roboto:400,700" rel="stylesheet">

    {{!-- Styles --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/libraries.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="Build anything for free, without coding.">
    <meta name="keywords" content="growth, hacks, marketing">
    <meta property="og:title" content="Web Hacks">
    <meta property="og:description" content="Build anything for free, without coding.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://webhacks.co">
    <meta property="og:image" content="">

    {{!-- Social Meta --}}
    <meta name="twitter:description" content="Build anything for free, without coding.">
    <meta name="twitter:title" content="Web Hacks by @ryan_dimascio">
    <meta name="twitter:domain" content="itmeohq">
    <meta name="twitter:image:src" content="">

    {{!-- Site Icons --}}
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicons/favicon-128.png" sizes="128x128">
    <meta name="application-name" content="itmeo | premium web tools">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="favicons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="favicons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="favicons/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="favicons/mstile-310x310.png">
