    <div class="backdrop"></div>

    <footer class="site-footer container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6">     
                            <ul>
                                <li><a href="/about/">About</a></li>
                                <li><a href="/pricing/">Pricing</a></li>
                                <li><a href="/support/">Support</a></li>
                                <li><a href="https://dev.to/rdimascio/" target="_blank">Making of</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">            
                            <ul>
                                <li><a href="/tools/">Tools</a></li>
                                <li><a href="/deals/">Deals</a></li>
                                <li><a href="https://trello.com/b/IzDWOoE0" target="_blank">Roadmap</a></li>
                                <li><a href="https://github.com/rdimascio/webhacks-resources/">Resources</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h3>Get a new hack each week</h3>
                            {{subscribe_form
                                form_class="gh-signin"
                                input_class="gh-input"
                                button_class="btn"
                                placeholder="Your email address"
                            }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright">
                            Just a side-project from <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fwww.webhacks.co%2F&screen_name=ryan_dimascio" target="_blank">@ryan_dimascio</a>
                            <br>&copy; {{date format="YYYY"}}, <a href="{{@blog.url}}">{{@blog.title}}</a>. All Right Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    curl -d '{"body":"testing", "project":"webhacks"}' -H "Content-Type: application/json" "Authorization: Bearer cUK6BpEnFr3RxLmhAs49eLY" -X POST https://wip.chat/graphql

    curl -d "body=testing&project=webhacks" -H "Authorization: Bearer cUK6BpEnFr3RxLmhAs49eLY" -X POST https://wip.chat/graphql